img{
    width:37px;
    padding:2px;
    border-radius: 50%;
}

.ustamp{
    display:flex;
}


.userName{
    color: #3d8b3d;
    font-weight: 500;
}

.feedContent,.feedFooter{
    color: #999;
}

.feedContent
{   font-size: 22px;
    color: black;
    font-weight: 600;
}

.feedFooter{
    font-size: 13px;
    padding-top: 20px;
}

.feedbody{
    margin: 25px;
    color: #999; 
}

.ustampDate{
    color: #999;
    font-size: small;
}

.feedHeader{
    display:flex;
    justify-content: space-between;
}

.likeButton:hover{
    background-color: #3d8b3d;
    color: white;
}

