.subbody
{
   width:80vw
}

.subheader{
    color: #5cb85c;
    margin-top: 50px;
    padding-left: 12px;
}

hr{
    border: 0.1px solid #e5e5e5;
}

.subbodyContainer{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
   }

   .popularTagsContainer{
       display: flex;
   }
