.popularTagsContainer{
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px;  
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
line-height: 1.5;
color: #373a3c;
height: max-content;
width:max-content;
display:flex;
flex-direction: column;
width: max-content;
}



.tagContainer{
    background-color: #818a91;
    border-radius: 10px;
padding: 3px;
color:white;
}