.popularTagsContainer{
    padding: 5px 0px;
    background: #f3f3f3;
    border-radius: 4px;  
font-family: "Source Sans Pro", sans-serif;
font-size: 14px;
line-height: 1.5;
color: #373a3c;
height: max-content;
width:max-content;
display:flex;
width: 15vw;
margin:20px;
flex-wrap: wrap;
}



.popularTags{
 width:100%;   
}

.tag{
      background-color: #818a91;
    border-radius: 12px;
padding: 3px;
color:white;
height: fit-content;
margin: 2px;
height: fit-content;
    width: fit-content;  
}