
  .articlebodymain {
   
    width:80vw;
    color: white;
    padding:20px;
  }
  
  .subheading1{
    font-weight: 600;
      font-family: titillium web,sans-serif;
      font-size: xx-large;
      padding: 8px;
  }
  
  .subheading2{
    font-size: x-large;
  }

  .articleBodyContainer{
    background: #333;
    width:100vw;
   display:flex;
    flex-direction: column;
    align-items: center;
  }

  .articlehomeContainer{
    width:100vw;
     

  }

  .articleuserName{
    font-size: small;
  }

  .articleSubbody{
    width:38vw;
    display:flex;
    flex-direction: column;
    align-items: center; 
    padding:15px;
  }