.header {
    display: flex;
    justify-content: space-between;
    
  }
  
  .navlinks {
    padding: 5px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    text-decoration: none;
  }

  .navlinks:hover, .navlinks:focus{
   color:black
  }
  
  .rightheader {
    display: flex;
  }
  
  .leftheader {
    font-family: titillium web, sans-serif;
    color: #5cb85c;
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .bodymain {
     background: #5cb85c;
    width:100vw;
    color: white;
    padding:20px;
  }
  
  .subheading1{
    font-weight: 600;
      font-family: titillium web,sans-serif;
      font-size: xxx-large;
  }
  
  .subheading2{
    font-size: x-large;
  }

  .homeScreen{
    width:80vw;
  }

  .homeContainer{
    width:100vw;
    display:flex;
    flex-direction: column;

  }